*{
    margin: 0;
    padding: 0;
    
}
.nav {
    justify-content: space-around;
}
.nav-link{
    transition: all 1s ease;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.centerbody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}
.base{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    font: 3em sans-serif;
}

.container{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container span{
    position: absolute;
    left: 18%;
    width: 32px;
    height: 6px;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s /50));
}
@keyframes animateBlink {
    0% {
        background: white;
    }
    25% {
        background: #686868fd;
    }
}
.per_pic{
    border-radius: 500px;
    width: 100%;
    height: 100%;
}

.col{
    position: relative;
}




#conteudo {
    width: 100vw;
    height: 100vh;
}