#scroll-fast{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 25px 0px;
    /* animation: horizontal-scroll-fast 2s infinite linear; */
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    /* background: linear-gradient(to right,var(--color4),var(--color2), var(--color4)); */
    align-items: center;
    /* border-top: solid 5px var(--color5); */

}
#scroll-fast img{
    position: absolute;
    height: 80px;
    margin: 0px 50px;
    background: transparent;
}
#css{
    animation: horizontal-scroll-fast-css 10s infinite linear;
}
#html{
    animation: horizontal-scroll-fast-html 10s infinite linear;
}
#js{
    animation: horizontal-scroll-fast-js 10s infinite linear;
}
#java{
    animation: horizontal-scroll-fast-java 10s infinite linear;
}

@keyframes horizontal-scroll-fast-css {
    0%{transform: translateX(-100vw);}
    1%{transform: translateX(-2vw)}
    24%{transform: translateX(2vw)}
    25%{transform: translateX(99vw)}
    100%{transform: translateX(100vw);}
}
@keyframes horizontal-scroll-fast-html {
    0%{transform: translateX(-100vw);}
    24%{transform: translateX(-100vw)}
    25%{transform: translateX(-2vw)}
    49%{transform: translateX(2vw)}
    50%{transform: translateX(99vw)}
    100%{transform: translateX(100vw);}
}
@keyframes horizontal-scroll-fast-js {
    0%{transform: translateX(-100vw);}
    49%{transform: translateX(-100vw)}
    50%{transform: translateX(-2vw)}
    74%{transform: translateX(2vw)}
    75%{transform: translateX(99vw)}
    100%{transform: translateX(100vw);}
}
@keyframes horizontal-scroll-fast-java {
    0%{transform: translateX(-100vw);}
    74%{transform: translateX(-100vw)}
    75%{transform: translateX(-2vw)}
    99%{transform: translateX(2vw)}
    100%{transform: translateX(100vw);}
}
#base:hover #scroll-fast{
    animation-play-state: paused;
}