:root{
    --color1: #5c6972;
    --color2: #d5d5d5;
    --color3: #3a63a8;
    --color4: #050834; 
    --color5: #7cb8f2; 
}


#intro-int{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: black;
}
#esq-total{
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#esq-total img{
    border-radius: 50%;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.8);

}
#dir-total{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#dir-total{
    height: 100%;
    width: 50%;
}
#esq-total img{
    height: 300px;
}
.social-media{
    height: 100%;
}
#dir-inf a i{
    margin: 25px;
    color: var(--color5);
    font-size: 36pt;
    background: transparent;
}
#dir-inf a i:hover{
    color: red;
}