:root{
    --color1: #5c6972;
    --color2: #d5d5d5;
    --color3: #3a63a8;
    --color4: #050834; 
    --color5: #7cb8f2; 
}

*{
    padding: 0px;
    margin: 0px;
    /* background: #fff; */
    text-decoration: none;
    list-style: none;
    color: #f3f3f3;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

#intro{
    width: 100vw;
}
i{
    color: var(--color4);
}

/* CENTRO DO SITE CONTAINER DIV CENTRAL */

#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* Header */
#container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #f7f7f7;
}
#h-lista ul {
    display: flex;
    flex-direction: row;
    background: transparent;
}
li{
    background: transparent;
}
#h-lista a{
    margin: 10px;
    position: relative;
    padding: 0px 5px;
    background: transparent;
    color: var(--color4);
    font-weight: bolder;
}

a:after{
    content: "";
    position: absolute;
    background: var(--color5);
    height: 50%;
    width: 0%;
    left: 0;
    bottom: -50%;
    transition: 0.8s;
}
#dev-cast a{
    color: var(--color4);
    font-weight: bold;
}
a:hover{
    
}
a:hover:after{
    width: 100%;
}

#perfil{
    height: 40px;
    border-radius: 50%;
}
